.Recipe {
    position: relative;
    padding: 10px;
}

figure, h4, p {
    margin: 0;
}

.Recipe img {
    width: 100%;
}

.Recipe a {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}